<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--配置-->
  <appSettings>
    <!--本地IP地址-->
    <add key="LocalAddress" value="127.0.0.1" />
    <!--NameServer地址和端口号,以','隔开-->
    <add key="NameServerAddress" value="127.0.0.1:9493" />
    <!--Broker名称-->
    <add key="BrokerName" value="Broker1" />
    <!--Broker分组名称-->
    <add key="GroupName" value="BrokerGroup1" />
    <!--生产者端口-->
    <add key="ProducerPort" value="5000" />
    <!--消费者端口-->
    <add key="ConsumerPort" value="5001" />
    <!--管理端口-->
    <add key="AdminPort" value="5002" />
    <!--文件存放目录-->
    <add key="FileStoreRootPath" value="d:\equeue-store1" />
    <!--是否为内存模式,如果内存模式则不会把消息存放在内存-->
    <add key="IsMemoryMode" value="false" />
    <!--是否同步刷盘-->
    <add key="SyncFlush" value="false" />
    <!--删除时是否忽略未消费过的消息-->
    <add key="DeleteMessageIgnoreUnConsumed" value="false" />
    <!--消息到达时是否立即通知Pull-->
    <add key="NotifyWhenMessageArrived" value="true" />
    <!--Chunk大小,以MB为单位-->
    <add key="ChunkSize" value="256" />
    <!--Chunk写缓存,以KB为单位-->
    <add key="ChunkWriteBuffer" value="256" />
    <!--是否开启缓存-->
    <add key="EnableCache" value="true" />
    <!--Chunk刷新时间间隔,以毫秒为单位-->
    <add key="FlushInterval" value="100" />
    <!--Chunk最小缓存数量-->
    <add key="ChunkCacheMinCount" value="1" />
    <!--Chunk最大缓存数量-->
    <add key="ChunkCacheMaxCount" value="2" />
    <!--消息写入缓冲队列阀值-->
    <add key="MessageWriteQueueThreshold" value="10000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>